/* Making responsive for <= 1200px(Medium Laptops) */
@media (max-width: 1200px) {
    .grid-container .item-1{
        grid-column: 1 / span 3;
    }

    .grid-container .item-2{
        grid-column: 1 / span 3;
    }

    .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .item-4 .public-domain{
        margin-bottom: 72px;
    }
}

/* Making responsive for <= 991px(Tablets or Small Laptops) */
@media (max-width: 991px) {
    .navbar .left #btn-2, .navbar .left #btn-3, .navbar .left #btn-4, .navbar .right #btn-5{
        display: none;
    }

    .navbar .left #btn-1{
        display: block;
        width: 74vw;
        text-align: center;
    }

    .navbar .right #btn-6{
        display: block;
        width: 16vw;
        text-align: center;
    }

    .grid-container .item-3{
        grid-column: 1 / span 3;
    }

    .grid-container .item-4{
        grid-column: 1 / span 3;
    }

    .grid-container{
        overflow: hidden;
    }
}

/* Making responsive for <= 767px(Small Tablets) */
@media (max-width: 767px) {
    .navbar .left #btn-1{
        width: 70vw;
    }

    .item-2 .image img{
        width: 50vw;
    }
}

/* Making responsive for <= 576px(Phones) */
@media (max-width: 576px) {
    .navbar .left #btn-1{
        width: 225px;
    }

    .navbar .right #btn-6{
        width: 25vw;
    }

    .item-2 .image img{
        width: 40vw;
        border-radius: 20px;
    }

    .item-4 .image img{
        transform: translateX(-30px);
    }
}